body.single {

  /**
  *  Dek
  ********************************************* */

  .dek-wrapper {
    padding-top: 1.75rem;
    padding-bottom: 2rem;

    p {
      font-size: 1.6rem;
      margin: 0;
      padding: 0;
    }
  }
} 
